@model Resto.Models.Feedback

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="menu-section px-5">
    <div class="container-fluid px-5 py-5">
        <h2>Contact </h2>
        <hr>
        <h4 class="mb-3">Write your feedback ..</h4>

        @using (Html.BeginForm())
         {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-7">
                    <input type="submit" value="Send" class="btn btn-dark" />
                </div>
            </div>
         }
    </div>
</section>