@model Resto.Models.Reservation

@{
    ViewBag.Title = "CancelReservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h4>Are you sure you want to Cancel this reservation?</h4>

<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "AllReserves")
        </div>
    }
</div>
